{% extends 'base.html' %} {% load tag_extras %} {% load thumbnail %} {% block body %} {% include 'banner_gallery.html' %} {% include 'banner_couple.html' %}
<div id="fh5co-gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
        <span>Memories</span>
        <h2>Wedding Gallery</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>

    <div class="row row-bottom-padded-md">
      <div id="box" class="col-md-12">
        <ul id="fh5co-gallery-list">
          {% for photo in page_obj %}
          <li class="card md-4 one-third animate-box" data-animate-effect="fadeIn">
            <div class="text-center p-2">
              <a href="{% url 'photo:detail' photo.uuid %}">
                {% thumbnail photo.image "300x350" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive" />
                {% empty %}
                <p>No image</p>
                {% endthumbnail %}
              </a>
            </div>
            <div class="card-body">
              <div class="btn-group" style="margin-top: 5px">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="like('{{ photo.uuid }}');">
                  <spam id="s-like-{{ photo.uuid }}">{{ photo.like_count }}</spam>
                  <i class="icon-heart2" {% is_liked request photo.uuid as is_liked %}{% if is_liked %}style="color:#f14e95;" {% else %}style="color:grey;" {% endif %}name="like-{{ photo.uuid }}"></i> Like
                </button>
              </div>
            </div>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>

    <style>
      .text-center .pagination > li > a,
      .text-center .pagination > li > span {
        border: 0px;
        color: #bdbdbd;
      }
      .pagination > .active > a,
      .pagination > .active > a:focus,
      .pagination > .active > a:hover,
      .pagination > .active > span,
      .pagination > .active > span:focus,
      .pagination > .active > span:hover {
        background: #f14e95;
        color: #fff;
      }
    </style>

    {% if page_obj.paginator.num_pages > 1 %}
    <nav class="text-center one-third animate-box" data-animate-effect="fadeIn">
      <ul class="pagination justify-content-center p-2">
        {% if page_obj.paginator.num_pages != 1 %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
        {% endif %} {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
        {% endif %} {% for i in page_obj.paginator.page_range %} {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
        </li>
        {% elif page_obj.number > i|add:"-5" and page_obj.number < i|add:"+5"%}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
        {% endif %} {% if page_obj.paginator.num_pages != page_obj.number %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    <div class="text-center one-third animate-box" data-animate-effect="fadeIn" style="margin-top: 15px">
      <p><a class="btn btn-primary" href="{% url 'photo:create' %}">Upload your photo</a></p>
    </div>
  </div>
</div>

<script>
  function like(photo_uuid) {
    like_btn = $("[name=like-" + photo_uuid + "]");
    s_like_btn = $("[id=s-like-" + photo_uuid + "]");
    $.ajax({
      url: "api/like_photo",
      type: "GET",
      data: {
        photo_uuid: photo_uuid,
      },
      dataType: "json",
      success: function (data) {
        if (data.liked) {
          like_btn.attr("style", "color:grey;");
        } else {
          like_btn.attr("style", "color:#f14e95;");
        }
        s_like_btn.text(data.like_count);
      },
    });
  }
</script>

{% endblock body %}
